
/*************************
*
* BASE ELEMENTS
*
*************************/

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {

}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Caudex', serif;
    color: #000;
    overflow: hidden;
}

html, body {

}

header {

}

main {

}

section {

}

aside {

}

footer {

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {

}

li {

}


/*************************
*
* TYPOGRAPHY
*
*************************/

h1, h2, h3, h4, h5, {
    padding: 0;
    margin: 0;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    display: block;
}

a:hover {
    background-color: #000;
    color: #fff;
}

a.active {
    background-color: #000;
    color: #fff;
}

blockquote {

}

strong {}

i {}


/*************************
*
* MEDIA
*
*************************/

svg, img {
    max-width: 100%;
    height: auto;
}


img {

}

svg {

}

figure {

}

video {

}

/*************************
*
* LAYOUT
*
*************************/

.wrapper {
    padding: 10px;
    max-width: 1600px;
    /*margin: 0 auto;*/
}

/*************************
*
* SITE SPECIFIC
*
*************************/

.main-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.main-nav ul li {
    width: 25%;
}

.main-nav ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
}

.main-title {
    font-weight: 700;
}

.content--container,
.content--container__basic,
.content--footer,
.topbar {
    display: flex;
    position: relative;
}

.content--container,
.content--container__basic,
.content--footer {
    justify-content: center;
}

#p5js.content--container {
    padding: 0;
}

.content--container {
    height: 60vh;
}

.content--container .counter {
    position: absolute;
    align-self: center;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.topbar--right,
.topbar--left,
.content--left,
.content--right,
.foot--left,
.foot--right {
    width: 50%;
}

.content--left {
    padding: 30px 40px 10px 40px;
    height: 500px;
    overflow-y: scroll;
}

.foot--left,
.foot--right a {
    text-align: center;
    padding: 10px 0;
}

.foot--right,
.content--right {
    border-left: 1px solid;
}

.content--right ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content--container__basic ul {
    justify-content: space-evenly;
}

.content--container__basic ul li {
    height: calc(500px/3);
}

.content--right ul li {
    text-align: center;
    border-bottom: 1px solid;
}
.content--right ul li:last-child {
    border-bottom: none;
}

.content--container .content--right ul li button.accordion--toggle,
.content--container .content--right ul li span,
.content--container .content--right ul li a
 {
    font-family: inherit;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    text-align: center;
    background: transparent;
}


/* AUDIO PLAYER */

.topbar {
    font-size: 18px;
}

.topbar--left {
    display: inline-flex;
    padding-right: 20px;
}

.topbar--right .counter {
    padding: 10px;
    border: 1px solid;
    margin-bottom: 10px;
    font-weight: 700;
}

.play--title {
    font-weight: 700;
    padding: 10px;
    border: 1px solid;
    margin-bottom: 10px;
    width: 70%;
    overflow: hidden;
}

.play-toggle {
    width: 40px;
    margin-right: 20px;
}

.play-toggle:hover {
    cursor: pointer;
}

.play-toggle img.icon-play {
    transform: rotate(90deg);
}

.hide {
    display: none;
}

/*.icon-play {
    border-left: 22px solid #0000;
    border-right: 22px solid #0000;
    border-bottom: 34px solid #000;
    transform: rotate(90deg) translate(10px, 5px);
}

.icon-pause {
    width: 44px;
    height: 40px;
    border-style: double;
    border-width: 0px 0 0px 27px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 17px;
}*/

.canvas-container {
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    /* display: block; */
    width: 100%;
}

.canvas-container canvas {
    margin: 0 auto;
    display: block;
}
