
/*************************
*
* BASE ELEMENTS
*
*************************/

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {

}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Caudex', serif;
    color: #000;
}

html, body {

}

header {

}

main {

}

section {

}

aside {

}

footer {

}

ul {

}

ol {

}

li {

}


/*************************
*
* TYPOGRAPHY
*
*************************/

h1, h2, h3, h4, h5, {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

a {
    color: #000;

}

blockquote {

}

strong {}

i {}


/*************************
*
* MEDIA
*
*************************/

svg, img {
    max-width: 100%;
    height: auto;
}


img {

}

svg {

}

figure {

}

video {

}

/*************************
*
* LAYOUT
*
*************************/

.wrapper {
    padding: 10px;
    max-width: 1600px;
    margin: 0 auto;
}

/*************************
*
* SITE SPECIFIC
*
*************************/

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
}

.main-nav ul li {
    width: 25%;
    border-right: 1px solid;
}

.main-nav ul li:nth-child(-n+4) {
    border-bottom: 1px solid;
}

.main-nav ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
}

.main-title {
    font-weight: 700;
}

.main-nav ul li a:hover {
    background-color: #000;
    color: #fff;
}

#content--container {
    position: relative;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;

    display: flex;
    justify-content: center;
}

.counter {
    position: absolute;
    align-self: center;
    width: 100%;
    text-align: center;
    font-size: 28px;
}
