/*************************
*
* BASE ELEMENTS
*
*************************/

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
}

body {
    display: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Caudex", serif;
    color: #000;
    overflow-x: hidden;
}

html,
body {
}

header {
}

main {
}

section {
}

aside {
}

footer {
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
}

li {
}

/*************************
*
* TYPOGRAPHY
*
*************************/

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

h1 {
}

h2 {
}

h3 {
    font-size: 18px;

}

h4 {
}

h5 {
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

a.active {
    font-weight: bold;
}

a.hover-link {
    position: relative;
    display: inline-block;
    z-index: 2;
    text-decoration: underline;

}
.hover-img  {
    display: none;
    font-size: 14px;
}
a.hover-link:hover .hover-img  {
    display: inline-block;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    max-width: initial;
    height: auto;
    bottom: 20px;

}

blockquote {
}

strong {
}

i {
}

/*************************
*
* MEDIA
*
*************************/

svg,
img {
    max-width: 100%;
    height: auto;
}

img {
}

svg {
}

figure {
}

video {
}

/*************************
*
* LAYOUT
*
*************************/

.wrapper {
    padding: 10px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    position: relative;
    z-index: 1;
}

.canvas-container {
    position: absolute;
    z-index: -1;
    max-width: 1600px;
    width: 99%;
    text-align: center;
}

.canvas-container canvas {
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

/*************************
*
* SITE SPECIFIC
*
*************************/

.main-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.main-nav ul li {
    width: 25%;
}

.main-nav ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
}
.main-nav ul li a:hover {
    font-weight: bold;
}

.main-title {
    font-weight: 700;
    font-size: 18px;
}

.mobile-nav {
    display: none;
}

.content--container,
.content--container__basic,
.topbar {
    display: flex;
    position: relative;
}

/* this is used on pages with months */
.content--container {
    justify-content: center;
    height: 60vh;
    flex-grow: 2;
    margin-top: 60px;
}

/* this is used on page: An phantom voices
 because it has a different layout*/
.content--container__basic {
    justify-content: center;
    height: 60vh;
    flex-grow: 2;
    margin-top: 60px;
}

#p5js.content--container {
    padding: 0;
}

.content--container .counter {
    position: absolute;
    align-self: center;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.topbar--right,
.topbar--left,
.content--left,
.content--right {
    width: 50%;
}

.content--footer {
    text-align: center;
    background: white;
    padding: 80px 0;
    z-index: 982;
    width: 100%;
    margin-top: auto;
    flex-shrink: 0;
    flex-grow: 0.5;
    min-height: 70px;
    font-size: 14px;
    font-weight: 400px;
    letter-spacing: 0.3px;
}

.content--txt {
    padding: 0px 40px 10px 40px;
    height: 60vh;
    overflow: hidden;
    overflow-y: auto;
}
/* CONTENT CONTAINER EXAMPLE*/


.content--left .panel.show[data-panel="entry-b"] {
    margin-top: 90px;
}

.content--left .panel.show[data-panel="entry-c"] {
    margin-top: 150px;
}
.content--left .panel.show[data-panel="entry-d"] {
    margin-top: 233px;
}
.content--left .panel.show[data-panel="entry-e"] {
    margin-top: 270px;
}

.content--txt h3 {
    text-align: center;
    font-weight: normal;
}

.foot--left,
.foot--right a {
    text-align: center;
    padding: 10px 0;
}

.content--right {
    padding-top: 20px;
    height: 65vh;
    overflow: auto;
}

.content--right ul li {
    text-align: center;
    margin-bottom: 1em;
}
.content--right ul li:last-child {
    border-bottom: none;
}
.content--right ul li a:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.content--container .content--right ul li button.accordion--toggle,
.content--container .content--right ul li span,
.content--container .content--right ul li a {
    font-family: inherit;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    text-align: center;
    background: transparent;
}

/* AUDIO PLAYER */

.topbar {
    font-size: 14px;
    letter-spacing: 0.3px;
}

.topbar--left {
    display: inline-flex;
    padding-right: 20px;

}

.topbar--right .counter {
    padding: 10px;
    padding-bottom: 20px;
    border: 0px ;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.3px;
    min-height: 45px;
    text-align: center;
}

.play--title {
    font-weight: 400;
    padding: 10px;
    padding-bottom: 20px;
    padding-right:40px;
    border: 0px ;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.3px;
    flex-grow: 0.5;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
}

.play-pause-special,
.play-toggle {
    width: 40px;
    margin-right: 20px;

}
.play-pause-special:hover,
.play-toggle:hover {
    cursor: pointer;
}
.play-pause-special img.icon-play,
.play-toggle img.icon-play {
    transform: rotate(90deg);
}

.icon-play {
    display: none;
}

img.icon-pause {
    height: 45px;
}

.panel {
    display: none;
}

.footnote {
    font-size: 11px;
    vertical-align: text-top;
    margin-left: 2px;
}

.colophon {
    overflow: hidden;
    z-index: 2;
    background: white;
    width: 100%;
    top: 92vh;
    bottom: auto;
    position: absolute;
    transform: translateY(-10px);
    transition: top 0.5s linear;
    padding: 20px;
}

.colophon--active {
    bottom: 4%;
    top: 160px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
    padding-top: 1em;
    transition: top 0.3s linear;
}

.colophon--active .colophon__text {
    visibility: visible;
    opacity: 1;
    margin-top: 30px;
}

.hosted_by {
    text-align: center;
}

.colophon__text {
    width: 36%;
    margin: auto;
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.copyright {
    position: relative;
    z-index: 2;
    margin-top: 0;
}

.full-height {
    height: 97vh;
    display: flex;
    flex-direction: column;
}

.ticker-wrap {
}

.ticker-wrap--active {
    overflow: hidden;
    box-sizing: content-box;
    padding-left: 100%;
    width: 100%;
}

.ticker-wrap--active .ticker {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
}

.flex-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-table .col {
    margin-right: 30px;
}

.flex-table .col .cell {
    margin-bottom: 20px;
}

.footnotes {
    font-size: 14px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.clicked {
    font-weight: bold;
}

.index-php .copyright {
    display: none;
}

/*************************
*
* RESPONSIVE
*
*************************/

@media (max-width: 599.89px) {
    .topbar {
        height: 60px;
    }
    .topbar--right {
        display: none;
    }
    .topbar--left,
    .content--left,
    .content--right {
        width: 100%;
    }
    .main-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        position: relative;
    }
    .mobile-nav-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .mobile-nav-top a.active {
        font-weight: normal;
    }
    .hide-xs {
        display: none;
    }
    ul.mobile-nav-list {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 908;
        background: white;
        padding-top: 16px;
        text-align: center;
    }
    ul.mobile-nav-list > li {
        display: block;
        margin-bottom: 10px;
    }

    li.mobile-nav-link--month a {
        display: block;
        margin-bottom: 10px;
    }
    ul.submenu {
        margin: 0 10px;
        padding: 0 10px;
    }
    ul.submenu > li {
        margin-bottom: 10px;
    }

    .content--container__basic,
    .content--container {
        display: block;
        margin-top: 0;
        overflow-y: scroll;
    }

    /*.index-php .content--container {
        display: flex;
    }*/
    .content--txt {
        height: auto;
        overflow: hidden;
    }
    .content--footer {
        padding: 54px 0;
    }
    .colophon--active {
        top: 110px;
    }
    .colophon__text {
        width: auto;
    }

}
